body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-around;
  font-family: "Barlow Condensed", sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 20px;
  margin-left: 20px;
}
header .logo-nav {
  margin-top: 20px;
}
header .line hr {
  position: absolute;
  width: 515px;
  opacity: 0.33;
  margin-top: 45px;
  margin-left: -215px;
  z-index: 2;
}
header .nav {
  background: rgba(255, 255, 255, 0.05);
  backdrop-filter: blur(1.5rem);
  letter-spacing: 0.2rem;
  width: 55%;
  padding-left: 50px;
}
header .nav ul {
  display: flex;
  list-style: none;
  height: 90px;
  place-items: center;
  width: 50%;
}
header .nav ul li {
  margin-left: 50px;
  color: white;
  text-transform: uppercase;
}
header .nav ul li span {
  font-weight: 700;
  margin-right: 0.5em;
}
header .nav ul li a {
  text-decoration: none;
  color: white;
  opacity: 0.5;
}
header .nav ul li a:hover {
  border-bottom: 3px solid white;
  padding-bottom: 25px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("../img/background-home-desktop.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  font-family: Barlow, sans-serif;
}
body main {
  margin-top: 250px;
  color: white;
  line-height: 1.8;
  display: flex;
  justify-content: space-around;
}
body main .intro {
  font-size: 28px;
  text-transform: uppercase;
  font-family: "Barlow Condensed", sans-serif;
}
body main h1 {
  font-family: Bellefair, serif;
  font-size: 118px;
  text-transform: uppercase;
}
body main .text {
  font-family: Barlow, sans-serif;
  font-size: 18px;
  width: 480px;
}
body main .exploreBtn {
  font-size: 32px;
  font-family: Bellefair, serif;
  text-transform: uppercase;
  background-color: white;
  color: black;
  padding: 20px;
  height: 300px;
  width: 300px;
  border-radius: 50%;
  cursor: pointer;
}
body main .exploreBtn:hover {
  animation: pulse 1300ms;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    opacity: 1;
  }
  100% {
    transform: scale(1.35);
    opacity: 0.75;
  }
}
.destination-page {
  background-image: url("/img/background-destination-desktop.jpg");
}

.title-destination {
  font-family: Barlow Condensed;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 200;
  margin-left: 300px;
  margin-top: 100px;
}
.title-destination .num-title {
  color: #474A53;
  font-weight: bold;
}

.destination {
  margin: 100px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas: "img-plan img-plan info-destination info-destination" "img-plan img-plan info-destination info-destination";
}
.destination .img-plan {
  grid-area: img-plan;
  margin-left: 150px;
}
.destination .info-destination {
  grid-area: info-destination;
  margin-left: 130px;
  margin-top: -75px;
}
.destination .info-destination ul {
  display: flex;
  list-style: none;
  height: 90px;
  place-items: center;
  margin-left: -45px;
}
.destination .info-destination ul li {
  margin-left: 50px;
  text-transform: uppercase;
}
.destination .info-destination ul li a {
  text-decoration: none;
  color: white;
  font-family: Barlow Condensed;
  font-size: 20px;
  letter-spacing: 0.2rem;
}
.destination .info-destination ul li a:hover {
  border-bottom: 3px solid gray;
  padding-bottom: 25px;
}
.destination .info-destination h1 {
  text-transform: uppercase;
  font-size: 100px;
  font-family: "Bellefair", serif;
  font-weight: 200;
  padding-bottom: 20px;
}
.destination .info-destination p {
  font-family: "Barlow", sans-serif;
  font-size: 18px;
  width: 480px;
}
.destination .info-destination .line {
  opacity: 0.33;
  margin-top: 45px;
  margin-bottom: 45px;
}
.destination .info-destination .info-dest {
  display: grid;
  grid-template-areas: "distance time";
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  text-transform: uppercase;
}
.destination .info-destination .info-dest .distance {
  grid-area: distance;
  text-align: left;
}
.destination .info-destination .info-dest .distance .km {
  font-size: 28px;
}
.destination .info-destination .info-dest .time {
  grid-area: time;
  text-align: left;
}
.destination .info-destination .info-dest .time .days {
  font-size: 28px;
}

.crew-page {
  background-image: url("/img/background-crew-desktop.jpg");
  background-size: cover;
}
.crew-page .crew-nb {
  margin: 100px;
  font-family: Barlow Condensed;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
  margin-left: 150px;
}
.crew-page .crew-nb .num-title {
  font-weight: 600;
  color: gray;
  padding-right: 10px;
}
.crew-page .container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100%;
}
.crew-page .container .text-block {
  grid-area: 1/1/2/2;
  margin: 50px;
}
.crew-page .container .text-block .crew-role {
  font-family: Bellefair;
  font-size: 32px;
  text-transform: uppercase;
  color: gray;
  letter-spacing: 0.2rem;
  margin-left: 150px;
}
.crew-page .container .text-block .crew-name {
  font-family: Bellfair;
  font-size: 58px;
  text-transform: uppercase;
  margin-left: 150px;
  margin-top: 20px;
}
.crew-page .container .text-block .crew-text {
  margin-left: 150px;
  width: 600px;
  margin-top: 50px;
  font-family: Barlow, sans-serif;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.5px;
}
.crew-page .container .crew-img {
  grid-area: 1/2/2/3;
  margin-left: 150px;
}
.crew-page .container .carousel {
  padding-top: 50px;
  margin-left: 150px;
}
.crew-page .container .carousel .carousel-btn {
  width: 20px;
  height: 20px;
  display: inline-block;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  margin: 0 5px;
  cursor: pointer;
}
.crew-page .container .carousel .carousel-btn-selected {
  background: rgba(255, 255, 255, 0.5);
}

.techno-page {
  background-image: url("/img/background-technology-desktop.jpg");
  background-size: cover;
}
.techno-page .techno-nb {
  margin: 100px;
  font-family: Barlow Condensed;
  font-size: 28px;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-weight: 400;
  margin-left: 150px;
}
.techno-page .techno-nb .num-title-techno {
  font-weight: 600;
  color: gray;
  padding-right: 10px;
}
.techno-page .container-techno {
  display: grid;
  grid-template-columns: 1fr 1.5fr 1.5fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  grid-template-areas: "nav-techno text-techno img-techno";
  margin-top: 10rem;
}
.techno-page .container-techno .nav-techno {
  grid-area: nav-techno;
  display: flex;
  flex-direction: column;
  margin: auto;
}
.techno-page .container-techno .nav-techno .nav-num, .techno-page .container-techno .nav-techno .nav-num-selected {
  font-size: 3rem;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 2rem;
  font-weight: 100;
  font-family: Barlow Condensed;
  background-color: transparent;
  color: white;
}
.techno-page .container-techno .nav-techno .nav-num-selected {
  background-color: aliceblue;
  border: none;
  color: rgba(0, 0, 0, 0.8);
}
.techno-page .container-techno .text-techno {
  grid-area: text-techno;
  margin-left: auto;
  margin-right: auto;
}
.techno-page .container-techno .text-techno .term {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: white;
  letter-spacing: 0.2rem;
  padding-bottom: 5vh;
}
.techno-page .container-techno .text-techno .title-techno {
  font-family: Bellfair;
  font-size: 58px;
  text-transform: uppercase;
}
.techno-page .container-techno .text-techno .exp-techno {
  width: 500px;
  margin-top: 50px;
  font-family: Barlow, sans-serif;
  font-size: 1rem;
  line-height: 27px;
  font-weight: 400;
  letter-spacing: 0.1rem;
  color: gray;
}
.techno-page .container-techno .img-techno {
  grid-area: img-techno;
}
.techno-page .container-techno .img-techno img {
  float: right;
  width: 500px;
}

/*# sourceMappingURL=styles.css.map */
