
.destination-page{
    background-image: url("/img/background-destination-desktop.jpg");
}




.title-destination{
    font-family: Barlow Condensed;
    font-size: 28px;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    font-weight: 200;
    margin-left: 300px;
    margin-top: 100px;

    .num-title{
        color: #474A53;
        font-weight: bold;
    }
}

.destination{
    margin: 100px;
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr 1fr; 
    grid-template-rows: 1fr 1fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "img-plan img-plan info-destination info-destination"
      "img-plan img-plan info-destination info-destination";

    .img-plan { 
        grid-area: img-plan; 
        margin-left: 150px;
    }

    .info-destination{
        grid-area: info-destination;
        margin-left: 130px;
        margin-top: -75px;
        ul{
            display: flex;
            list-style: none;
            height: 90px;
            place-items: center;
            margin-left: -45px;
            
            li{
                margin-left: 50px; 
                text-transform: uppercase;

                a{
                    text-decoration: none;
                    color: white;
                    font-family: Barlow Condensed;
                    font-size: 20px;
                    letter-spacing: 0.2rem;

                    &:hover{
                        border-bottom: 3px solid gray;
                        padding-bottom: 25px;
                    }
                }
            }
        }

        h1{
            text-transform: uppercase;
            font-size: 100px;
            font-family: "Bellefair", serif;
            font-weight: 200;
            padding-bottom: 20px;
        }

        p{
            font-family: "Barlow", sans-serif;
            font-size: 18px;
            width: 480px;
        }

        .line{
            opacity: 0.33;
            margin-top: 45px;
            margin-bottom: 45px;
        }

        .info-dest{
            display: grid;
            grid-template-areas: 
            "distance time";
            display: grid; 
            grid-template-columns: 1fr 1fr; 
            grid-template-rows: 1fr; 
            gap: 0px 0px;
            text-transform: uppercase; 

            .distance{
                grid-area: distance;
                text-align: left;

                .km{
                    font-size: 28px;
                }
            }

            .time{
                grid-area: time;
                text-align: left;

                .days{
                    font-size: 28px;
                }
            }
        }
    }
}




// RESPONSIVE

@media screen and (min-width: 300px) and (max-width: 768px) {


    .destination-page{
        background-image: url("/img/background-destination-mobile.jpg");
    }
    
    .title-destination{
        font-size: 30px;
        letter-spacing: 0.2rem;
        margin-left: 50px;
    }
    
    .destination{
        margin-top: 50px;
        display: block;
    
        .img-plan { 
            margin-left: 0;
            z-index: -2;
            margin-top: 80px;
        }
    
        .info-destination{
            margin-left: 0;
            margin-top: -300px;
            z-index: 1;
            
            ul{
                margin-left: 0;
                
                li{
                    margin-left: 50px; 
    
                    a{
                        font-size: 25px;
    
                        &:hover{
                            padding-bottom: 10px;
                        }
                    }
                }
            }
    
            h1{
                text-align: center;
                margin-top: 300px;
            }
    
            p{
                font-size: 20px;
                text-align: center;
            }
    
            .line{
                opacity: 0.33;
                margin-top: 45px;
                margin-bottom: 45px;
            }
    
            .info-dest{
    
                .distance{
                    text-align: center;
    
                    .km{
                        font-size: 28px;
                    }
                }
    
                .time{
                    text-align: center;
    
                    .days{
                        font-size: 28px;
                    }
                }
            }
        }
    }
}