body{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


header{
    display: flex;
    justify-content: space-around;
    font-family: "Barlow Condensed", sans-serif;
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-left: 20px;
    
    .logo-nav{
        margin-top: 20px;
    }

    .line hr{
        border: 0.5px solid white;
        width: 500px;
        opacity: 0.33;
        margin-top: 45px;
    }

    .nav{
        backdrop-filter: blur(1.5rem);
        letter-spacing: .2rem;
        width: 55%;

        ul{
            display: flex;
            list-style: none;
            height: 90px;
            place-items: center;
            width: 50%;
            
            li{
                margin-left: 50px;
                color:white;
                text-transform: uppercase;

                &:hover{
                    border-bottom: 3px solid white;
                }

                span{
                    font-weight: 700;
                    margin-right: .5em;
                }

                a{
                    text-decoration: none;
                    color: white;
                    opacity: 0.5;
                }
            }
        }
    }
}